<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Numero de cuenta</th>
        <th scope="col">Cliente</th>            
        <th scope="col">Balance</th>        
        <th scope="col">Tipo de cuenta</th>        
    </tr>
    </thead>
    <tbody>
        <% accounts.forEach( (account) => { %>
            <tr>
                <th scope="row"><%= account.id %></th>
                <td><%= account.account_no %></td>
                <td><%= account.client.first_name %> <%= account.client.last_name %></td>
                <td><%= account.balance %></td>
                <td><%= account.AccountType.name %></td>
            </tr>
        <% }) %>
    </tbody>
</table>